*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 1.75rem;
  color: white;
  background-color: #ddd;
}

main {
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  position: relative;
}

p {
  margin: 0;
}

p.label {
  color: #a00000;
  position: absolute;
  top: -2em;
  left: 0;
  font-size: .75rem;
  font-family: monospace;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  padding: .5em .25em;
  margin: 0 0 1em;
  background-color: #333;
  color: #0f0;
  letter-spacing: 3px;
  text-align: right;
  max-width: 218px;
}

#secondary-display {
  font-size: .75rem;
  padding-bottom: 5px;
}

.keypad {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  margin: 3px;
  background-color: #333;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button.col-1 {
  margin-left: 0;
}

.button.col-4 {
  margin-right: 0;
}

.button-clicked {
  color: red;
  background-color: #444;
  box-shadow: unset;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}